body{
background-image: url('background.jpg'); background-size: cover; background-repeat: no-repeat;

}
.icon{
    display:block;
    flex-direction: row;

 
 

}
.iconkoname{
     color: aliceblue;
   font-size: 13px;
  
margin-top:1px;
}
