body{
background-image: url('background.jpg'); background-size: cover; background-repeat: no-repeat;

}
.icon{
    display:block;
    flex-direction: row;

 
 

}
.iconkoname{
     color: aliceblue;
   font-size: 13px;
  
margin-top:1px;
}
  .icon:hover{
            display: block;
            height: 78.4px;
            width: 52px;
            background-color: rgba(18, 144, 216, 0.192);
        }