body{
background-image: url('background.jpg'); background-size: cover; background-repeat: no-repeat;

}
.icon{
    display:inline;
 padding-top: -20px;
 padding-left: 3.5px;

}
.iconkoname{
     color: aliceblue;
   font-size: 13px;
     margin-top: -5px;
   

}
#clock{
    padding-left: 10px;
    color: aliceblue;
   margin-top:  -11px;
   font-size: 13px;
}
