#box1{
    height: 165px;
width: 50px;
    background-color: blue;
}
#box2{

    height: 100px;

  width: 100px;  
  background-color: brown;
   
}
div{
    display: inline-block;
}
#box3{
    background-color: red;
    height: 50px;
    width: 100px;
}