/* button{
    color: #24d82d;
    
}
body{
    background-color: beige;
}
#box{
    background-color: blueviolet;
}
.heading{
    color: red;
   
}
a{
    text-decoration: none ;
}
#he{
text-align: center;
}
#she{
    text-transform: capitalize;
}
*{
    font-family: 'Times New Roman';
}
#outer{
    font-size: 25px;
}
/* #inner{
    font-size: 10px;
} */
/* 
#red{

    border: 1px;
    height: 50px;
    width :50px;
    border-radius: 50%;
    background-color: red;
}
#green{
    border: 1px;
    height: 50px;
    width :50px;
    border-radius: 50%;
    background-color: rgb(0, 255, 55);
}
#yellow{
    border: 1px;
    height: 50px;
    width :50px;
    border-radius: 50%;
    background-color: rgb(203, 217, 0);
}
div{

height: 350px;
width: 100px;
background-color: black;
margin: 30px;
}
#gap{
    height: 3px;
/* } */ 
div{
    background-color: black;
    height :43px;

}
#logo{
margin-left: 25px;
  font-size: 25px;
    color: #f08804;
    
}
button{
    background-color: #f08804;
    color: white;
}
a{
    color: white;
    text-decoration: none;
    margin-right: 160px;
}
