button{
    color: #24d82d;
    
}
body{
    background-color: beige;
}
#box{
    background-color: blueviolet;
}
.heading{
    color: red;
   
}
a{
    text-decoration: none ;
}
#he{
text-align: center;
}
#she{
    text-transform: capitalize;
}
*{
    font-family: 'Times New Roman';
}
#outer{
    font-size: 25px;
}
/* #inner{
    font-size: 10px;
} */